.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  min-height: 100svh;
  font-family: var(--font-geist-sans);
}

.title-banner {
  width: 100%;
  background-color: #4a4a4a;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-size: 28px;
  font-weight: 700;
  border-bottom: 4px solid #333;
  display: block;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}




.container{ /* border of each quadrent */
  display: table-cell;
  width: 50%;
  height: 50%;
  border: 2px solid #383838;
  padding: 10px;
  margin: 50px;
  border-width: 5px;
  /*  border-color: rgba(0, 127, 141, 0.305); */
  border-color: #344E41;
}

.row{
  display: table-row;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: #e0d6af;
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;

}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}








/*
  Plant Inventory
 */

.PlantInventory form{ /* Form Area */
  /* border: 2px solid red; */
  display: grid;
  column-gap: 5px;
  grid-template-columns: repeat(11, 1fr);
  width: 100%;

  margin-bottom: 5px;
  text-align: center;
  font-size: 16pt; 

  background-color: rgba(88, 178, 91, 0.392);
  border-radius: 20px;
  /* Not able to get border to show??*/

}

.PlantInventory input{ /* Input Fields */
  /* border: 2px solid blue; */
  height: 3em;
  width: 100%;

  background-color: #282c34;
  border-radius: 15px;
  border-radius: 5px;
  border-color: rgb(162, 162, 162);
  text-align: center;
}



.PlantInventory button{ /* Add Button */
  background-color: #353535;
  opacity: 100%;
  margin-top: 2em;
  margin-bottom: 5px;
  border-radius: 15px;
  /* height: 3em; */
}

.PlantInventory .search {
  margin-bottom: 5px;

  border-radius: 10px;
  border-width: 5px;
  border-color: black;
  background-color: orange;
}

.PlantInventory .scrollContainer{ /* Padding around the inside of each Quadrent */
  height: 30vh;
  overflow-y: scroll;
  border-radius: 10px;
  background-color: rgba(4, 74, 117, 0.655);
  padding: 10px;

}

.PlantInventory .span2 { /*inside of each box in form (name, acres, dates, etc) */
  grid-column: span 2;
}

.PlantInventory .span3 { /*inside of each box in form (name, acres, dates, etc) */
  grid-column: span 3;
}

.InfoCard .span2 { /* Inside of Cells */
  grid-column: span 2;
  text-align: center;
  font-weight: 500;
  background-color: pink; /*PINK HERE*/
}

.InfoCard{ /* Background of Each row */
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 2.5em;
  justify-items: center;
  align-items: center;
  margin-bottom: 7px;
  background-color: rgba(0, 127, 141, 0.305);
}

.InfoCard .delete { /* Delete Button*/
  background-color:#979797;
  height: 2.5em;
  width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-width: 5;
  border-color: black;
}

.InfoCard .delete:hover{
  background-color:#9432329d;
}

.InfoCard h1,
.InfoCard h2,
.InfoCard h3,
.InfoCard .delete{
  width: 100%;
  height: 100%;
  border: 2px solid black;
  display:flex;
  align-items: center;
  justify-content: center;
}




/*
  Plant Inventory
 */

 .MachineryInventory form{ /* Form Area */
  /* border: 2px solid red; */
  display: grid;
  column-gap: 5px;
  grid-template-columns: repeat(15, 1fr);
  width: 100%;

  margin-bottom: 5px;
  text-align: center;
  font-size: 16pt; 

  background-color: rgba(88, 178, 91, 0.392);
  border-radius: 20px;
  /* Not able to get border to show??*/

}

.MachineryInventory input{ /* Input Fields */
  /* border: 2px solid blue; */
  height: 3em;
  width: 100%;

  background-color: #282c34;
  border-radius: 15px;
  border-radius: 5px;
  border-color: rgb(162, 162, 162);
  text-align: center;
}



.MachineryInventory button{ /* Add Button */
  background-color: #353535;
  opacity: 100%;
  margin-top: 2em;
  margin-bottom: 5px;
  border-radius: 15px;
  /* height: 3em; */
}

.MachineryInventory .search {
  margin-bottom: 5px;

  border-radius: 10px;
  border-width: 5px;
  border-color: black;
  background-color: orange;
}

.MachineryInventory .scrollContainer{ /* Padding around the inside of each Quadrent */
  height: 30vh;
  overflow-y: scroll;
  border-radius: 10px;
  background-color: rgba(4, 74, 117, 0.655);
  padding: 10px;

}

.MachineryInventory .span2 { /*inside of each box in form (name, acres, dates, etc) */
  grid-column: span 2;
}

.MachineryInventory .span3 { /*inside of each box in form (name, acres, dates, etc) */
  grid-column: span 3;
}



.InfoCard .span2 { /* Inside of Cells */
  grid-column: span 2;
  text-align: center;
  font-weight: 500;
  background-color: pink; /*PINK HERE*/
}

.MachineryInventory .InfoCard{ /* Background of Each row */
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: 2.5em;
  justify-items: center;
  align-items: center;
  margin-bottom: 7px;
  background-color: rgba(0, 127, 141, 0.305);
}

.MachineryInventory .InfoCard .delete { /* Delete Button*/
  background-color:#979797;
  height: 2.5em;
  width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-width: 5;
  border-color: black;
}

.MachineryInventory .InfoCard .delete:hover{
  background-color:#9432329d;
}

.MachineryInventory .InfoCard h2{
  font-size: medium;
}

.MachineryInventory .InfoCard h1,
.MachineryInventory .InfoCard h2,
.MachineryInventory .InfoCard h3,
.MachineryInventory .InfoCard h4,
.MachineryInventory .InfoCard .delete{
  width: 100%;
  height: 100%;
  border: 2px solid black;
  display:flex;
  align-items: center;
  justify-content: center;
}


